#d3-container{
    display: flex;
    /* flex-flow: row-reverse; */
    align-self: center;
}

#treemap-icons-container {
    display: flex;
    flex-flow: column;
    margin-top: 3vh;
    position: absolute;
    left: 1vw;
}

.node:hover {
    opacity: .95;
    cursor: pointer;
}

.no-pointer-events{
    pointer-events: none;
}

.tooltip{
    font-size: 1.5em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* width: 5em; */
}

.tooltipContainer {
    width: 99%;
    display: flex;
    flex-flow: column;
}

.tooltip > span {
    margin-left: .25em;
}

.tooltip > span:hover {
    color: red;
    cursor: pointer;
}

#tooltip-link {
    text-decoration: none;
    color: white;
    text-align: center;
}

#tooltip-link:hover{
    color: #bad1db;
}

#tooltip-img{
    width: 5em;
    align-self: center;
    border-radius: .25em;
    margin-top: .5em;
}

#treemap-icons-container > .d3div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#treemap-icons-container > .d3div:hover {
    cursor:pointer
}

#bubble-chart{
    height: calc(100vh - 100px); /** output container is small for display */ 
}

#bubble-chart-title {
    text-align: center;
    font-size: 3vmin;
}

.legend-text{
    font-size: 1.5em;
}

.legend-nodes:hover{
    cursor: pointer;
}