#d3-container{
    display: flex;
    flex-flow: row-reverse;
    align-self: center;
    justify-content: space-between;
}

#treemap-icons-container {
    display: flex;
    flex-flow: column;
    margin-top: 3vh;
}