#d3-container{
    display: flex;
    flex-flow: row;
    align-self: center;
    align-items: center;
    padding-top: 2vh;
    justify-content: space-between;
}

#treemap {
    align-self:flex-start
}