.search-container{
    display: flex;
    flex-flow: row;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 50vw;
    height: 5vh;
}

#searchBar{
    height: 100%;
    width: 80%;
    align-self: center;

}

#clearSearchButton{
    width: 30%;
    height: 80%;
    align-self: center;
    margin-left: 1vw;
}